/* 
    Created on : Jun 10, 2015, 10:27:26 AM
    Author     : Robert Erickson
*/
@import url('reset.css');
/*------------------------   standard elements  ----------------------------- */
body{
    background: #2c3e50; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #525252 , #3d72b4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #525252 , #3d72b4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    margin: 0 5% 0 5%;
}
article{
    padding: 2em;
}
figcaption {
    color: #839e99;
    font-style: italic;
    text-align: center;
}

img.headerImage {
    width: 10.8%;
    height: 125px;
}

header{
    overflow: auto; /* forces header to fit to figure */
}

header .float_left{
    margin-top: 0;
}
p{
    text-align: left;
    font-family: times, Times New Roman, times-roman, georgia, serif;
    font-size: 20px;
    position: absolute;
    top: 250px;
    left: 25px;
}

header h1{
    padding-bottom: 2em;
    padding-top: 75px;
}

h2{
    font-family: times, Times New Roman, times-roman, georgia, serif;
    color: black;
    margin: 0;
    padding: 0px 0px 0px 0px;
    font-size: 51px;
    line-height: 44px;
    letter-spacing: -2px;
    font-weight: bold;
    text-align: center;
    
}

form{
    padding-top: 200px;
}

img{
    max-width: 100%; /* image strinks to fit containor but does not stretch */
}

section{
    padding: 2em;
    width: 40%;  
}

/*------------------------   classes           ------------------------------ */
.float_left {
    border: thin solid darkslategray;
    float: left;
    margin: 1em 1em 1em 0;
    padding: 0.5em;
}

.even{
    background-color: whitesmoke;
}

.odd{
    background-color: lightcyan;
}

.small {
    width: 150px;
}

/*------------------------   nav section only  ------------------------------ */
nav ol li{
    display: inline;
    list-style-type: none;
    padding-right: 100px;
    width: 60px;
    margin: 10px;
    text-align: center;
}
a {
    display: inline;
    list-style-type: none;
    padding-right: 100px;
    width: 60px;
    margin: 10px;
    text-align: center;
    
    
}


/*------------------------   table page  only  ------------------------------ */
#table aside{
    height: 600px; 
    float: left; 
    overflow: auto; 
    margin-left: 2em;            
}
#table section{
    width: 35%; 
    height: 600px; 
    float: left; 
    overflow: auto;
}
#table table{
    border: medium #000080 solid;
    border-collapse: collapse;
}

#table td {
    border: thin #000080 solid;
    border-collapse: collapse;
}

#table th{
    text-align: left;
}

